.material-icons {
  color: #097799;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

html {
  height: 100%;
}
body {
  font-family: arial;
  background: radial-gradient(
    circle farthest-corner at center,
    #7cdbd0c0 0%,
    #ffcbf2 95%
  );
  background-size: cover;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto 10px;
}
.input {
  font-weight: 900;
  font-size: 25px;
  width: 320px;
  height: 35px;
  border-radius: 10px;
  color: #0b88b8;
  background-color: #faf6f9;
  border: 2mm ridge #7cdbd0c0;
  padding-left: 20px;
  font-family: 'Alegreya', serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Signika Negative', sans-serif;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.gallery-item {
  list-style: none;
}
.photo-card {
  margin: 10px;
}
img {
  display: flex;
  flex-direction: column;
  width: 50%;
  columns: 3 12em;
  width: 350px;
  height: 220px;
  border-radius: 25px;
}
.stats {
  display: flex;
  width: 350px;
  text-align: center;
  justify-content: center;
  margin: 5px;
}
.stats-item {
  margin: 15px 5px;
  color: #0b6f71e0;
}

.container-more {
  margin: 0 auto;
  display: block;
  width: 250px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  text-align: center;
  padding: 8px 13px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  margin: 0px 10px 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.btn {
  background-color: #079590c4;
  border-color: #079590c4;
}

.load-more-posts {
  margin: 0 auto;
  display: block;
  width: 250px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  /* padding: 10px 13px; */
  /* margin-top: 40px; */
}
.load-more-posts.loading {
  width: 10px;
  height: 25px;
  border-radius: 90px;
  box-sizing: border-box;
  line-height: 2px;
  font-size: 40px;
  text-indent: -5px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pnotify-shadow {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
